body{
     
     width: 970px;
     display: flex;
     height: 1045;
     align-items: center;
     background-color: #020021;
     margin: auto;

}

.container-pricipal{

     
     width: 970px;
     height: 1045px;
     left: 61px;
     top: 54px;

}

@font-face {

     font-family: "neon";
     src: url("NEON\ ABSOLUTE\ SANS1.ttf");

}
@font-face {

     font-family: roboto;
     src:url(Roboto-Regular.ttf)

}

h2{

     font-family:roboto;

}

.logo-menu{

     display: flex;
     justify-content: space-between;
     align-items: center;
     
}

.logo{

     width: 237px;
     height: 43px;
     left: 223px;
     top: 85px;
     margin: 20px;

}

#navegador{
     
     margin: 20px;

}

#navegador ul{
    
     list-style-type: none;
     text-align: center;
}

#navegador li{

     display: inline;
     text-align: center;
     margin: 0 50px 0 0;
}

.color{

     color: aqua;
     
}

.blanco, a , h1 , p , li { 

     color: rgb(255, 255, 255);
     font-family: roboto;

}

.neon{

     font-family: neon;
     font-size: 150%;
     color: aquamarine;

     

}

.music-picture-boton{

     display: flex;
     justify-content: space-between;
     align-items: center;

}

.titulo{

     margin: 20px;
     width: 299px;
     height: 164.95px;
     left: 220px;
     
}

.img{

     margin: 30px;
     margin-top: 100px;
     width: 600px;
     height: 413,85px;

}

.boton{

     margin-top: 20px;
     width: 182px;
     height: 53px;
     left: 220px;
     border: 0px;
     background-color: #00f482;
     border-radius: 25px;
}

.boton-blanco{

     width: 182px;
     height: 53px;
     left: 220px;
     border: 0px;
     border-radius: 25px;
     transition: all .2s;
}
button:hover{
     width: 200px;
     border-radius: 50px;
     transition: all .5;
}



.final-text-boton2{

     display: flex;
     justify-content: center;
     

}

.final-tex{

     text-align:center;
     justify-content: right;
     

}
