body{
     
     background-color: #020021;
     
}

.container-principal{
     font-family:roboto;
     width: 100%;
     max-width: 1080px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 auto;
     background-color: #020021;
     
}

@font-face {

     font-family: "neon";
     src: url("NEON\ ABSOLUTE\ SANS1.ttf");

}
@font-face {

     font-family: roboto;
     src:url(Roboto-Regular.ttf)

}




.logo-menu{
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
}

.logo{

     width: 237px;  
     left: 223px;
     top: 85px;
     margin: 20px;

}



#navegador{
     
     
     
     margin: 20px;
     

}

#navegador ul{
    
     list-style-type: none;
     text-align: center;
}

#navegador li{

     display: inline;
     text-align: center;
     margin: 0 50px 0 0;
}

.color{

     color: aqua;
     
}

.blanco, a , h1 , p , li { 

     color: rgb(255, 255, 255);
     font-family: roboto;

}

p{
     margin: 0px;
}

.neon{

     font-family: neon;
     font-size: 150%;
     color: aquamarine;
     margin: 0px;
     

}

.music-picture-boton{
     height: 100%;
     display: flex;
     justify-content: space-between;
     
     width: 100%;
}

.titulo{

     margin: 20px;
     width: 299px;
     height: 164.95px;
     left: 220px;
     
}

.img{

     margin: 30px;
     margin-top: 100px;
     width: 600px;
     height: 413,85px;
 
}

.boton{

     margin-top: 20px;
     width: 182px;
     height: 53px;
     
     border: 0px;
     background-color: #00f482;
     border-radius: 25px;
}

.boton-blanco{

     
     width: 182px;
     height: 53px;
     border: 0px;
     border-radius: 25px;
}



.final-text-boton2{
     height: 100%;
     display: flex;
     justify-content: center;
     width: 100%;

}

.final-tex{

     text-align:center;
     justify-content: right;
     

}

@media (max-width: 600px){

.logo-menu{justify-content: center;
}     


     #navegador{
          position: absolute;
          display: none;
          margin: 0 50px 0  0;
     }
     .img{
          display: none;
     }
     .final-tex{
           display: none;
     }
}

.picture{
     position: relative;
     display: flex;
     justify-content: center;
     width: 50%;
     max-width: 550%;
     height: auto;
     margin-right: 80px;
     
 
}
.platillo{
     position: absolute;
     width: 92px;
     height: 92px;
     border-radius: 50%;
     border: none;
     background-color: beige;
     
     margin-right: 480px;
     margin-top: 121px;
}
.tambor{
     position: absolute;
     width: 92px;
     height: 92px;
     border-radius: 50%;
     border: none;
     background-color: beige;

}




