.container-principal {
    align-items: center;
    margin: 25px;
    background-color:#E1FAFF;
    width: 1024px;
    padding: 30px;
}

.logo-menu {
    
}

.logo{
    
    

    
}

.menu {
    

}
