@media (max-width: 600px) {
    .logo-menu {
        justify-content: center;
    }
    #navegador {
        position: absolute;
        display: none;
        margin: 0 50px 0 0;
    }
    .img {
        display: none;
    }
    .final-tex {
        display: none;
    }
}
/* Móviles en vertical */
@media (max-width: 480px) {

}
/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) {


}
/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) { 

}
