
/* Móviles en vertical */
@media (max-width: 480px) {
   
   

   
}
/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) {
    .img{
        position: absolute;
    }
    .plato-ride {
        
        position: absolute;
    } 
    .final-tex {
        display: none;
    }
    #navegador {
        display: none;
    }
    .titulo{
        display: none;
    }

}
/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) { 
    .plato-ride {
        position: absolute;
    } 
    .final-tex {
        display: none;
    }
    .titulo{
        display: none;
    }
}
